#Market Fix by CheatMan - XDA
service drm /system/bin/drmserver
    user root
    group root
    enabled
    oneshot

#DHCP Fix by CheatMan - XDA
service dhcpcd_eth0 /system/bin/dhcpcd -ABLK eth0
    enabled
    oneshot

# Compcache - handle at boot
service compcache /system/bin/handle_compcache
    user root
    group root
    oneshot

import init.thunderc.usb.rc

###Bootsound - Safe to Delete: Start
service bootsound /system/bin/bootsound
    user media
    group audio
    disabled
    oneshot

on property:init.svc.bootanim=running # to correct timin
    start bootsound
on property:dev.bootcomplete=1
    stop bootsound
### Bootsound - Safe to Delete: End

